extends ./layout/layout

block stylesheets
  link(rel='stylesheet' href='../../dist/css/layouts/login/login.css')

block content
  // Form
  .container
    form.form__content.form-forget-password
      h1.form__title RESTORE YOUR PASSWORD
      p.form__input-title Your email
      input.form__input.form__input-forget-email(type='email' required placeholder='Enter your email to restore password')
      button.form__button.restore-password(type="submit") RESTORE
    // Form


