extends ./layout/layout

block stylesheets
  link(rel='stylesheet' href='../../dist/css/layouts/login/login.css')

block content
  // Form

  .container
    form.form__content.form-restore
      h1.form__title RESTORE YOUR PASSWORD
      p.form__input-title New password
      input.form__input.form__input-restore(type='password' placeholder='••••••••')
      p.form__input-title Confirm new password
      input.form__input.form__input-restore(type='password' placeholder='••••••••')
      input.resetToken(type='hidden' value= resetToken)
      button.form__button.restore-button(type="submit") RESTORE
    // Form


