@import "./variables.scss";

// COMMON
a {
  outline: none !important;
}

button {
  outline: none !important;
  border: none;
}

button:active {
  opacity: 0.5;
  -webkit-box-shadow: 10px 10px 20px 7px rgba(34, 60, 80, 0.51) inset;
  -moz-box-shadow: 10px 10px 20px 7px rgba(34, 60, 80, 0.51) inset;
  box-shadow: 10px 10px 20px 7px rgba(34, 60, 80, 0.51) inset;
}

body {
  font: 300 16px Lato, sans-serif;
  background-color: #f4f4f5;
  // width: 100%;
  // height: 100%;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  margin-top: 120px !important;
  @media (max-width: $screen-xs-max) {
    margin-top: 100px !important;
  }
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 60px 80px;
  @media (max-width: $screen-sm-max) {
    justify-content: center;
  }
}

// HEADER

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10001;
  min-height: 80px;
  background: hsla(0, 94%, 6%, 1);

  background: linear-gradient(
    315deg,
    hsla(0, 94%, 6%, 1) 0%,
    hsla(0, 67%, 58%, 1) 51%,
    hsla(348, 20%, 5%, 1) 100%,
    hsla(0, 14%, 65%, 1) 100%
  );
  padding: 10px 0;

  &__menu {
    min-height: 80px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__row:first-child {
    margin-left: 40px;
  }

  &__row:nth-child(2) {
    margin-left: 80px;
  }

  &__row {
    font: 300 16px Lato, sans-serif;
    @include adaptive-value("font-size", 30, 17);
    svg {
      display: none;
    }
    a img {
      width: 68px;
    }
  }

  &__authorization-wrapper {
    display: flex;
    margin-right: 40px;
    justify-content: space-between;
    align-items: center;
  }

  // ====BREAK-POINT (0-575px)====
  @media (max-width: $screen-xs-max) {
    min-height: 40px;
    &__menu {
      flex-direction: column;
      min-height: 40px;
    }

    &__row:first-child {
      display: none;
    }

    &__row:nth-child(2) {
      margin-left: 0;
    }

    &__row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      svg:first-of-type {
        order: 1;
        display: block;
        margin-left: 2.5%;
      }
      a {
        order: 2;
      }
      svg:last-of-type {
        order: 3;
        display: block;
        width: 40px;
        height: auto;
        margin-right: 2.5%;
      }
    }

    &__authorization-wrapper {
      display: none;
      width: 100%;
      flex-direction: column;
      margin-right: 0;
      font-size: 14px;
    }
  }
}

.link-login {
  margin-right: 20px;
  padding: 20px;
  transition: all 0.2s ease 0s;
  font: 300 16px Lato, sans-serif;
  @include adaptive-value("font-size", 30, 19);

  &:hover {
    transform: translateY(-3px);
  }
  @media (max-width: $screen-xs-max) {
    font-size: 33px;
  }
}

.link-signup {
  padding: 20px;
  font: 300 16px Lato, sans-serif;
  @include adaptive-value("font-size", 30, 19);
  transition: all 0.2s ease 0s;

  &:hover {
    transform: translateY(-3px);
  }
  @media (max-width: $screen-xs-max) {
    font-size: 33px;
    border: 1px solid #fff;
  }
}

.link-active {
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 0.2s ease 0s;

  &:hover {
    background-color: #fff;
    color: #777;
  }
}

img.header-img-preview {
  height: 60px;
  width: 60px;
  object-fit: cover;
  clip-path: circle(50% at 50% 50%);
  border: none;
}

// FOOTER
.footer-global {
  background: hsla(0, 94%, 6%, 1);

  background: linear-gradient(
    315deg,
    hsla(0, 94%, 6%, 1) 0%,
    hsla(0, 67%, 58%, 1) 51%,
    hsla(348, 20%, 5%, 1) 100%,
    hsla(0, 14%, 65%, 1) 100%
  );

  margin-top: 100px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.7s ease-in-out;
  &:hover {
    opacity: 0.9;
  }

  &__logo-wrapper {
    img {
      width: 150px;
      height: 30px;
    }
  }

  &__menu-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__menu {
    display: flex;
  }

  &__link {
    margin: 6px;
    // font-size: 25px;
    @include adaptive-value("font-size", 30, 25);
    color: #fff;
    padding: 5px;
    border: 4px solid transparent;
    border-image: linear-gradient(to bottom right, rgba(125, 213, 111, 0.85), rgba(40, 180, 135, 0.85));
    border-image-slice: 1;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__author {
    font-size: 14px;
    color: #fff;
    padding-top: 10px;
    text-align: right;
  }

  // ====BREAK-POINT (0-575px)====
  @media (max-width: $screen-xs-max) {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    &__menu-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &__menu {
      margin: 10px 0;
      display: flex;
      justify-content: space-evenly;
    }
    &__author {
      font-size: 20px;
      color: #fff;
      padding-top: 10px;
      text-align: center;
    }
  }
}

.alert {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: fit-content;
  padding: 20px 40px;
  //height: 100px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Lato", sans-serif;
  font-weight: 800;
  @include adaptive-value("font-size", 30, 16);
  z-index: 100;
  opacity: 1;

  &--red {
    z-index: 10002;
    background-color: #f72585;
  }

  &--green {
    z-index: 10002;
    background-color: #06d6a0;
  }

  &--lazure {
    z-index: 10002;
    background-color: #00b4d8;
  }
}

//
.link-logout,
.link-me {
  opacity: 0.8;
  margin: 0 20px;
  display: flex;
  justify-content: center;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;
  }
  @media (max-width: $screen-xs-max) {
    margin: 10px 0;
    width: 30%;
  }
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  padding: 50px;
  margin: 50px auto;
  background-color: #a8dadc;

  &__info-title {
    color: #283618;
    font-weight: 700;
    font-size: 35px;
    font-family: "Lato", sans-serif;
  }

  &__info-message {
    color: #f72585;
    font-weight: 700;
    font-size: 35px;
    font-family: "Lato", sans-serif;
  }
}

// Account style
.btn--disabled {
  -webkit-box-shadow: 7px 7px 8px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 7px 7px 8px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 7px 7px 8px 0px rgba(0, 0, 0, 0.2) inset;
  opacity: 0.3;
  //display: none!important;
}

.hideVisible {
  visibility: hidden;
}
