.footer-global
    .footer-global__logo-wrapper
        img(src='../../../public/assets/logo/logo-green.png' alt='')
    .footer-global__menu-wrapper
        .footer-global__menu
            .footer-global__link About us
            .footer-global__link Download apps
            .footer-global__link Become a guide
            .footer-global__link Careers
            .footer-global__link Contact
        .footer-global__author
            | &copy; 2021 by Jonas Schmedtmann