.footer-global
    .footer-global__logo-wrapper
        img(src='../../../public/assets/logo/logo-green.png' alt='')
    .footer-global__menu-wrapper
        .footer-global__menu
            a.footer-global__link(href='#' target="_blank") About me
            a.footer-global__link(href="https://www.github.com/lormida" target="_blank") Contact
        .footer-global__author
            | &copy; 2021 by Andrew Ananenko