head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name="csrf-token" content= csrfToken)
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="shortcut icon" href="#")
    link(rel='stylesheet' href='../../../dist/css/vendors/normalize.css')
    link(rel='stylesheet' href='../../../dist/css/vendors/reset.css')
    link(rel='stylesheet' href='../../../dist/css/base/common.css')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='icon' type='image/png' href='https://cdn-icons-png.flaticon.com/512/2917/2917995.png')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap')
    script(src='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js')
    link(href='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css' rel='stylesheet')
    title= title
