@import "../../base/variables.scss";

table {
  width: 100%;
  margin-top: 65px;
}

tr,
td {
  display: flex;
  color: black;
  height: 100%;
}
tbody td {
  color: #fff;
  font-weight: 400;
  @include adaptive-value("font-size", 20, 8);
  @include adaptive-value("padding-top", 35, 25);
  @include adaptive-value("padding-bottom", 35, 25);
  justify-content: center;
}
tbody td:nth-child(3n) {
  justify-content: start;
}
thead tr td {
  @include adaptive-value("font-size", 25, 13);
  padding: 0;
}
thead tr {
  padding: 10px 0;
}

tbody {
  tr:nth-of-type(odd) {
    background-color: #76c893;
    transition: all 0.5s ease-out 0s;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  tr:nth-of-type(even) {
    background-color: #353535;
    transition: all 0.5s ease-out 0s;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }

    td {
      color: white;
    }
  }
}

td {
  padding: 10px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 30px;
  overflow: hidden;
}
